<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改招领信息</title>
</head>
<body>
<form action="/edit_lost_id" th:object="${lost}">
    <input type="hidden" th:field="*{id}"><br>
    物品描述<input type="text" placeholder="物品描述"th:field="*{description}" ><br>
    地&emsp;&emsp;点<input type="text" placeholder="地点"th:field="*{locality}" ><br>
    联系方式<input type="text" placeholder="联系方式"th:field="*{contact}" ><br>
    <input type="hidden" th:field="*{user}"><br>
    <input type="submit">
</form>
</body>
</html>