<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<form action="user_signup" th:object="${user}">
        <input type="text" placeholder="用户名" th:field="*{name}"><br>
    <ul>
        <li th:each="err:${#fields.errors('name')}" th:text="${err}"></li>
    </ul>
    <input type="password" placeholder="密码" th:field="*{pass}"><br>
    <ul>
        <li th:each="err:${#fields.errors('pass')}" th:text="${err}"></li>
    </ul>
    <input type="password" placeholder="确认密码" field="password"><br>

    <input type="submit">
</form>
<span th:text="${msg}" th:if="${msg}"></span>
</body>
</html>